.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white
}

.nav-link {
    color: #fff !important
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #03045E;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
    color: #fff
}

.navbar-red {
    background-color: #023E8A;
    color: #fff
}

.all-show {
    z-index: 10
}